# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
*.backup
*.cache
*.log
*.tfplan
*.tfplan~
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.env
.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db